.App {
  text-align: center;
}
.getchat{
  width: 50vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.recieve{
  word-break: break-all;
  background-color: rgb(221, 12, 211);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  font-size: 15px;
  left: -250px;
  right: 100px;
}

.send{
  background-color: brown;
  word-break: break-all;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  max-width: 350px;
  left: 200px;
  right: 250px;
  font-size: 15px;
}